<div class="lottery-container">
    <div class="input-container">
        <label for="numberOfTickets">Enter the number of boxes (n): </label>
        <input type="number" id="numberOfTickets" [(ngModel)]="numberOfBoxes">
        <button class="button-like" (click)="createBoxes()">Draw Numbers</button>
    </div>

    <div class="superzahl-container" *ngIf="superzahl" [@fadeInOut]>
        <p>Superzahl: {{ superzahl }}</p>
    </div>

    <div class="ticket-container">
        <div class="ticket" *ngFor="let box of boxes">
            <lottery-box [rows]="box.rows"></lottery-box>
        </div>
    </div>

</div>